<!DOCTYPE html>
<html>
  <head>
    <title>RailsWedsAfternoon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
  <%= link_to "All guests", guests_path %>
  <%= link_to "Add a guest", new_guest_path %>
  </footer>
</html>
